@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.vb_blog img {
    width: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vb_blog_title {
    font-size: 20px;
    margin-block: 15px 7px;
    color: black;
    font-weight: 600;
}

.vb_content {
    margin-top: 0;
    color: gray;
}

.vb_blog {
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 400ms ease-in-out;
    border-radius: 10px;
}

.vb_blog:hover {
    transition: 400ms ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.vb_blog_container {
    width: 100%;
    display: flex;
    gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-block: 60px;
    padding: 0px 10px;
    justify-content: center;
}

.vb_blog_container a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.vb_blog_content {
    padding-block: 0 20px;
    padding-inline: 20px;
}