.vb_service {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-block: 60px;
    padding: 0px 10px;
}

.vb_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    transition: 400ms ease-in-out;
    text-align: center;
    padding: 10px 30px;
    gap: 10px;
}

.vb_box h3 {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 600;
}

.vb_box i {
    font-size: 30px;
    margin-top: 10px;
}

.vb_box:hover {
    transition: 400ms ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}